@{
  Layout = "_Layout";
}
<h2>Stylists<h2>
@using HairSalon.Models;

<h4>Here are your current stylists:</h4>
@if (@Model.Count == 0)
{
  <h3>You don't have any stylists, better get hiring!</h3>
}


  
    @foreach (Stylist stylist in Model)
    {
      <p>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId }) </p>
    }
  

<p>@Html.ActionLink("Add a New Stylist", "Create")</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>